{% extends 'basee.html'%}
{% block container %}

{% load static %}

  <body>
    <header class="header header--signin" data-sticky="false">
    <div class="header__left">
        <a class="ps-logo" href="{{curl}}"><img src="{% static 'img/new/logo_1.png' %}" alt=""></a><a class="header__link" href="{{curl}}brower_jobs/"><i class="athena-archive"></i> Browers Jobs</a></div>
</header>
      <!--include search-sidebar-->
    <div class="ps-page" id="dashboard">
        <nav class="ps-navigation--dashboard">
        <ul>
          <!-- <li><a href="dashboard.php">Dashboard</a></li> -->
          <li><a href="{{curl}}my_project/">My Projects</a></li>
          <li class="active"><a href="{{curl}}my_profile/">My Profile</a></li>
         <!--  <li><a href="feedback.html">Feedback</a></li> -->
        </ul>
      </nav>
      <div class="ps-section--sidebar ps-layout">
        <div class="container">
          <div class="ps-section__container">
            <div class="ps-section__content">
     
         <form class="ps-form--settings" method="POST" action="{{curl}}passChange/">
         	{% csrf_token %}
                <figure>
                  <h3 class="ps-heading--2">Settings /<span class="ps-highlight"> Password Change</span></h3>
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                      <div class="form-group">
                        <label>Old Password</label>
                        {{form.old_password}}
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                      <div class="form-group">
                        <label>Password</label>
                        {{form.new_password1}}
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                      <div class="form-group">
                        <label>Confirm Password</label>
                        
                        {{form.new_password2}}
                      </div>

                    </div>
                   
                    </div>
                     {% for message in messages %}
              
        <font color="red">{{message}}</font>
        {% endfor %}
                </figure>

              <button type="submit" class="ps-btn ps-btn ps-btn--gradient submitButton">Update</button> 
               
              </form>
            </div>
            <div class="ps-section__sidebar">
               <aside class="widget widget_profile widget_progress">
                <div class="ps-block--user">
                  <div class="ps-block__thumbnail"><img src="{% static 'images/freelancer_profile/1.jpg' %}" alt=""></div>
                  <div class="ps-block__content">
                    <p><strong>WelCome back</strong></p>
                    <h4>{{user}}</h4><a href="{{curl}}my_profile/">View your profile<i class="fa fa-caret-right"></i></a>
                  </div>
                </div>
                <a href="{{curl}}logout/" class="ps-btn ps-btn--gradient ps-btn--sm" type="reset">Logout</a>
              
              </aside>
              <aside class="widget widget_profile widget_list">
                <h3 class="widget-title">Settings</h3>
                <ul class="ps-list">
                  <li><a href="{{curl}}genralinformation">General infomation</a></li>
                  
                  

                </ul>
              </aside>
        
            </div>
          </div>
        </div>
      </div>
    </div>
       
    <div class="ps-site-overlay"></div>
    <div id="loader-wrapper">
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <div class="ps-search" id="site-search"><a class="ps-btn--close" href="#"></a>
      <div class="ps-search__content">
        <form class="ps-form--primary-search" action="do_action" method="post">
          <input class="form-control" type="text" placeholder="Search for...">
          <button><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
    <!-- Plugins-->
 {% endblock %}   
